@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bumpOp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menuDesktopOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menuDesktopClose {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes dropScrollOpen {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropScrollClose {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
